In [1]:
import numpy as np
import pandas as pd

In [2]:
import csv

In [3]:
df = pd.read_excel('MBTI Free text responses (Responses).xlsx')

In [4]:
df.head()

,Timestamp,Full Name,Tell me something about yourself,What is something that you are good at?,What do you hope to get out of the MBusA programme?,What do you love about your job?
0,2019-07-04 19:35:19.077,test,asdsad,dgsgds,1231,NaN
1,2019-07-04 23:04:06.133,John Doe,I am an executive chef at a pan frying restaur...,I am really good at starting a sentence and so...,NaN,I love the fact that I am self employed as it ...
2,2019-07-05 04:58:08.548,Nyika Noelle Smythe,I'm a teacher and a consultant.I like working ...,I'm good at identifying with others and at mak...,I hope to learn what it is. I hope to learn wh...,I love being able to help change things and re...
3,2019-07-05 15:22:33.769,Dave,Test,I,Hope,This works
4,2019-07-06 13:10:43.317,Lori-Ann Miller,My favourite colour is blue. I like rhythm and...,Listening. Keeping a secret.,NaN,Co-workers exist as a family unit. Answering q...

In [5]:
def merge_col(row):
    post = []
    if type(row[4]) == float:
        post = str(row[2]) + ' ' + str(row[3]) + ' ' + str(row[5])
    else:
        post = str(row[2]) + ' ' + str(row[3]) + ' ' + str(row[4])
        
    return post

In [6]:
df['Posts'] = df.apply(merge_col, axis=1)

In [7]:
cols = [x for x in df.columns]

In [11]:
cols

['Timestamp',
 'Tell me something about yourself',
 'What is something that you are good at?',
 'What do you hope to get out of the MBusA programme?',
 'What do you love about your job?']

In [12]:
text_response = df.drop(cols, axis=1)

In [13]:
text_response

                Full Name                                              Posts
0                    test                                 asdsad dgsgds 1231
1                John Doe  I am an executive chef at a pan frying restaur...
2     Nyika Noelle Smythe  I'm a teacher and a consultant.I like working ...
3                    Dave                                        Test I Hope
4         Lori-Ann Miller  My favourite colour is blue. I like rhythm and...
5            Sophia Chang  I like outdoor activities. I would like to loo...
6                MisoSoup  Hard worker, dedicated, personable and kind Pl...
7               John Wick  I am hard working driven individual who works ...
8                Cornelia  I'm a young South African engineer living in C...
9                  Bianca  I love exploring the great outdoors and travel...
10                  Jacky  I am sleep derived and don't want to study any...
11              Josephine  Currently in second year of uni and doing a fu...
12              John Tran  Lazy. I like to stare at the sunset. Problem s...
13            Tim Fakoory  Middle aged male from the countryside with a p...
14             Annie Zhou  I am a reserved person and don't like sharing ...
15                   Jane  I like dogs. I was unsuccessful at charming ca...
16  Christine Knee Chong   I was born in South Africa and am of Chinese e...
17        Tanmai Khairnar  A very passionate and an enthusiastic individu...
18       Shubham Shingote  I am a pilot. I am Indian-Australian. I play a...

## MBTI Scoring

In [14]:
response = pd.read_excel('MBTI questions (Responses).xlsx')

In [15]:
response.head()

,Timestamp,Full name,1. When the phone rings do you,2. Are you more,3. Is it worse to,4. With people are you usually more,5. Are you more comfortable in making,6. Is clutter in the workplace something you,7. Is it your way to,"8. Waiting in line, do you often",...,61. Are you swayed more by,62. Do you feel better about,63. Is it preferable mostly to,64. Are you inclined to be,65. In stories do you prefer,66. Is it easier for you to,67. Which do you wish more for yourself:,68. Do you see yourself as basically,69. Do you tend to notice,70. Are you more
0,2019-07-04 19:45:13.182,test 2,a) hurry to get to it first,a) observant than introspective,a) have your head in the clouds,a) firm than gentle,a) critical judgments,a) take time to straighten up,a) make up your mind quickly,a) chat with others,...,b) a touching appeal,a) coming to closure,b) let things happen naturally,a) easy to approach,a) action and adventure,a) put others to good use,b) strength of emotion,a) thick-skinned,a) disorderliness,a) routinized than whimsical
1,2019-07-05 04:52:41.271,Nyika Noelle Smythe,b) hope someone else will answer,b) introspective than observant,b) be in a rut,b) gentle than firm,b) value judgments,b) tolerate pretty well,b) pick and choose at some length,b) stick to business,...,b) a touching appeal,b) keeping your options open,a) make sure things are arranged,a) easy to approach,b) fantasy and heroism,b) identify with others,a) strength of will,b) thin-skinned,b) opportunities for change,b) whimsical than routinized
2,2019-07-05 04:53:42.138,John Wick,a) hurry to get to it first,a) observant than introspective,b) be in a rut,b) gentle than firm,b) value judgments,a) take time to straighten up,a) make up your mind quickly,b) stick to business,...,a) convincing evidence,b) keeping your options open,a) make sure things are arranged,a) easy to approach,a) action and adventure,a) put others to good use,a) strength of will,a) thick-skinned,a) disorderliness,a) routinized than whimsical
3,2019-07-05 05:56:24.418,Lamar Quant,b) hope someone else will answer,b) introspective than observant,a) have your head in the clouds,b) gentle than firm,b) value judgments,a) take time to straighten up,a) make up your mind quickly,a) chat with others,...,a) convincing evidence,a) coming to closure,a) make sure things are arranged,a) easy to approach,b) fantasy and heroism,a) put others to good use,a) strength of will,a) thick-skinned,b) opportunities for change,b) whimsical than routinized
4,2019-07-06 00:06:12.118,Tim Fukoory,a) hurry to get to it first,b) introspective than observant,b) be in a rut,a) firm than gentle,a) critical judgments,a) take time to straighten up,a) make up your mind quickly,b) stick to business,...,a) convincing evidence,a) coming to closure,a) make sure things are arranged,b) somewhat reserved,a) action and adventure,a) put others to good use,b) strength of emotion,b) thin-skinned,a) disorderliness,a) routinized than whimsical

In [16]:
from collections import defaultdict
def count_type_1(row):
    my_dd = defaultdict(int)
    iterate_list = [1,8,15,22,29,36,43,50,57,64]
    for i in iterate_list:
        my_dd[row[i+1].split(')')[0]] += 1
    return my_dd

In [17]:
response['Type_1'] = response.apply(count_type_1, axis=1)

In [18]:
def count_type_2(row):
    my_dd = defaultdict(int)
    iterate_list = [2,9,16,23,30,37,44,51,58,65,3,10,17,24,31,38,45,52,59,66]
    for i in iterate_list:
        my_dd[row[i+1].split(')')[0]] += 1
    return my_dd

In [19]:
response['Type_2'] = response.apply(count_type_2, axis=1)

In [20]:
def count_type_3(row):
    my_dd = defaultdict(int)
    iterate_list = [4,11,18,25,32,39,46,53,60,67,5,12,19,26,33,40,47,54,61,68]
    for i in iterate_list:
        my_dd[row[i+1].split(')')[0]] += 1
    return my_dd

In [21]:
response['Type_3'] = response.apply(count_type_3, axis=1)

In [22]:
def count_type_4(row):
    my_dd = defaultdict(int)
    iterate_list = [6,13,20,27,34,41,48,55,62,69,7,14,21,28,35,42,49,56,63,70]
    for i in iterate_list:
        my_dd[row[i+1].split(')')[0]] += 1
    return my_dd

In [23]:
response['Type_4'] = response.apply(count_type_4, axis=1)

In [24]:
cols = [x for x in response.columns]

In [31]:
score_df = response.drop(cols, axis=1)

In [32]:
score_df

,Full name,Type_1,Type_2,Type_3,Type_4
0,test 2,"{'a': 6, 'b': 4}","{'a': 12, 'b': 8}","{'a': 11, 'b': 9}","{'a': 9, 'b': 11}"
1,Nyika Noelle Smythe,"{'b': 3, 'a': 7}","{'b': 18, 'a': 2}","{'b': 19, 'a': 1}","{'b': 13, 'a': 7}"
2,John Wick,"{'a': 6, 'b': 4}","{'a': 16, 'b': 4}","{'b': 11, 'a': 9}","{'a': 13, 'b': 7}"
3,Lamar Quant,"{'b': 4, 'a': 6}","{'b': 6, 'a': 14}","{'b': 9, 'a': 11}","{'a': 16, 'b': 4}"
4,Tim Fukoory,"{'a': 2, 'b': 8}","{'b': 5, 'a': 15}","{'a': 9, 'b': 11}","{'a': 18, 'b': 2}"
5,Lori-Ann Miller,"{'b': 9, 'a': 1}","{'a': 17, 'b': 3}","{'b': 11, 'a': 9}","{'a': 18, 'b': 2}"
6,Sophia Chang,"{'b': 8, 'a': 2}","{'a': 11, 'b': 9}","{'b': 10, 'a': 10}","{'a': 15, 'b': 5}"
7,Cornelia,"{'a': 8, 'b': 2}","{'a': 16, 'b': 4}","{'a': 14, 'b': 6}","{'a': 11, 'b': 9}"
8,MisoSoup,"{'b': 8, 'a': 2}","{'a': 16, 'b': 4}","{'a': 10, 'b': 10}","{'a': 19, 'b': 1}"
9,Bianca,"{'b': 9, 'a': 1}","{'b': 10, 'a': 10}","{'a': 13, 'b': 7}","{'a': 13, 'b': 7}"
10,Josephine,"{'a': 6, 'b': 4}","{'a': 9, 'b': 11}","{'b': 12, 'a': 8}","{'b': 11, 'a': 9}"
11,John Tran,{'b': 10},"{'a': 12, 'b': 8}","{'b': 9, 'a': 11}","{'b': 10, 'a': 10}"
12,Annie Zhou,"{'a': 4, 'b': 6}","{'a': 15, 'b': 5}","{'b': 6, 'a': 14}","{'b': 6, 'a': 14}"
13,Jane,"{'b': 9, 'a': 1}","{'b': 13, 'a': 7}","{'b': 17, 'a': 3}","{'a': 11, 'b': 9}"
14,Christine Knee Chong,"{'a': 3, 'b': 7}","{'b': 10, 'a': 10}","{'b': 18, 'a': 2}","{'a': 14, 'b': 6}"
15,The cat in the hat,"{'b': 5, 'a': 5}","{'a': 9, 'b': 11}","{'b': 17, 'a': 3}","{'a': 12, 'b': 8}"
16,Shubham Shingote,"{'b': 9, 'a': 1}","{'b': 6, 'a': 14}","{'b': 12, 'a': 8}","{'b': 9, 'a': 11}"
17,Tanmai Khairnar,"{'a': 8, 'b': 2}","{'b': 12, 'a': 8}","{'b': 18, 'a': 2}","{'b': 8, 'a': 12}"
18,John Doe,"{'a': 7, 'b': 3}","{'b': 9, 'a': 11}","{'a': 9, 'b': 11}","{'b': 9, 'a': 11}"
19,Christina Yeung,"{'b': 8, 'a': 2}","{'a': 11, 'b': 9}","{'b': 15, 'a': 5}","{'a': 14, 'b': 6}"
20,Jacky,{'b': 10},"{'a': 16, 'b': 4}","{'b': 11, 'a': 9}","{'b': 6, 'a': 14}"
21,test,"{'a': 8, 'b': 2}","{'b': 8, 'a': 12}","{'b': 11, 'a': 9}","{'b': 7, 'a': 13}"

In [33]:
score_df['E/I'] = score_df['Type_1'].apply(lambda x:'E' if x['a'] > x['b'] else 'I')

In [34]:
score_df['S/N'] = score_df['Type_2'].apply(lambda x:'S' if x['a'] > x['b'] else 'N')

In [35]:
score_df['T/F'] = score_df['Type_3'].apply(lambda x:'T' if x['a'] > x['b'] else 'F')

In [36]:
score_df['J/P'] = score_df['Type_4'].apply(lambda x:'J' if x['a'] > x['b'] else 'P')

In [37]:
score_df

,Full name,Type_1,Type_2,Type_3,Type_4,E/I,S/N,T/F,J/P
0,test 2,"{'a': 6, 'b': 4}","{'a': 12, 'b': 8}","{'a': 11, 'b': 9}","{'a': 9, 'b': 11}",E,S,T,P
1,Nyika Noelle Smythe,"{'b': 3, 'a': 7}","{'b': 18, 'a': 2}","{'b': 19, 'a': 1}","{'b': 13, 'a': 7}",E,N,F,P
2,John Wick,"{'a': 6, 'b': 4}","{'a': 16, 'b': 4}","{'b': 11, 'a': 9}","{'a': 13, 'b': 7}",E,S,F,J
3,Lamar Quant,"{'b': 4, 'a': 6}","{'b': 6, 'a': 14}","{'b': 9, 'a': 11}","{'a': 16, 'b': 4}",E,S,T,J
4,Tim Fukoory,"{'a': 2, 'b': 8}","{'b': 5, 'a': 15}","{'a': 9, 'b': 11}","{'a': 18, 'b': 2}",I,S,F,J
5,Lori-Ann Miller,"{'b': 9, 'a': 1}","{'a': 17, 'b': 3}","{'b': 11, 'a': 9}","{'a': 18, 'b': 2}",I,S,F,J
6,Sophia Chang,"{'b': 8, 'a': 2}","{'a': 11, 'b': 9}","{'b': 10, 'a': 10}","{'a': 15, 'b': 5}",I,S,F,J
7,Cornelia,"{'a': 8, 'b': 2}","{'a': 16, 'b': 4}","{'a': 14, 'b': 6}","{'a': 11, 'b': 9}",E,S,T,J
8,MisoSoup,"{'b': 8, 'a': 2}","{'a': 16, 'b': 4}","{'a': 10, 'b': 10}","{'a': 19, 'b': 1}",I,S,F,J
9,Bianca,"{'b': 9, 'a': 1}","{'b': 10, 'a': 10}","{'a': 13, 'b': 7}","{'a': 13, 'b': 7}",I,N,T,J
10,Josephine,"{'a': 6, 'b': 4}","{'a': 9, 'b': 11}","{'b': 12, 'a': 8}","{'b': 11, 'a': 9}",E,N,F,P
11,John Tran,"{'b': 10, 'a': 0}","{'a': 12, 'b': 8}","{'b': 9, 'a': 11}","{'b': 10, 'a': 10}",I,S,T,P
12,Annie Zhou,"{'a': 4, 'b': 6}","{'a': 15, 'b': 5}","{'b': 6, 'a': 14}","{'b': 6, 'a': 14}",I,S,T,J
13,Jane,"{'b': 9, 'a': 1}","{'b': 13, 'a': 7}","{'b': 17, 'a': 3}","{'a': 11, 'b': 9}",I,N,F,J
14,Christine Knee Chong,"{'a': 3, 'b': 7}","{'b': 10, 'a': 10}","{'b': 18, 'a': 2}","{'a': 14, 'b': 6}",I,N,F,J
15,The cat in the hat,"{'b': 5, 'a': 5}","{'a': 9, 'b': 11}","{'b': 17, 'a': 3}","{'a': 12, 'b': 8}",I,N,F,J
16,Shubham Shingote,"{'b': 9, 'a': 1}","{'b': 6, 'a': 14}","{'b': 12, 'a': 8}","{'b': 9, 'a': 11}",I,S,F,J
17,Tanmai Khairnar,"{'a': 8, 'b': 2}","{'b': 12, 'a': 8}","{'b': 18, 'a': 2}","{'b': 8, 'a': 12}",E,N,F,J
18,John Doe,"{'a': 7, 'b': 3}","{'b': 9, 'a': 11}","{'a': 9, 'b': 11}","{'b': 9, 'a': 11}",E,S,F,J
19,Christina Yeung,"{'b': 8, 'a': 2}","{'a': 11, 'b': 9}","{'b': 15, 'a': 5}","{'a': 14, 'b': 6}",I,S,F,J
20,Jacky,"{'b': 10, 'a': 0}","{'a': 16, 'b': 4}","{'b': 11, 'a': 9}","{'b': 6, 'a': 14}",I,S,F,J
21,test,"{'a': 8, 'b': 2}","{'b': 8, 'a': 12}","{'b': 11, 'a': 9}","{'b': 7, 'a': 13}",E,S,F,J

In [38]:
text_response.head()

             Full Name                                              Posts
0                 test                                 asdsad dgsgds 1231
1             John Doe  I am an executive chef at a pan frying restaur...
2  Nyika Noelle Smythe  I'm a teacher and a consultant.I like working ...
3                 Dave                                        Test I Hope
4      Lori-Ann Miller  My favourite colour is blue. I like rhythm and...

In [39]:
final_dataset = pd.merge(text_response, score_df, left_on="Full Name", right_on="Full name", how="inner")

In [40]:
final_dataset = final_dataset.drop(['Full name'], axis = 1)

In [41]:
final_dataset = final_dataset[final_dataset['Full Name'] != 'test']

In [42]:
final_dataset

,Full Name,Posts,Type_1,Type_2,Type_3,Type_4,E/I,S/N,T/F,J/P
1,John Doe,I am an executive chef at a pan frying restaur...,"{'a': 7, 'b': 3}","{'b': 9, 'a': 11}","{'a': 9, 'b': 11}","{'b': 9, 'a': 11}",E,S,F,J
2,Nyika Noelle Smythe,I'm a teacher and a consultant.I like working ...,"{'b': 3, 'a': 7}","{'b': 18, 'a': 2}","{'b': 19, 'a': 1}","{'b': 13, 'a': 7}",E,N,F,P
3,Lori-Ann Miller,My favourite colour is blue. I like rhythm and...,"{'b': 9, 'a': 1}","{'a': 17, 'b': 3}","{'b': 11, 'a': 9}","{'a': 18, 'b': 2}",I,S,F,J
4,Sophia Chang,I like outdoor activities. I would like to loo...,"{'b': 8, 'a': 2}","{'a': 11, 'b': 9}","{'b': 10, 'a': 10}","{'a': 15, 'b': 5}",I,S,F,J
5,MisoSoup,"Hard worker, dedicated, personable and kind Pl...","{'b': 8, 'a': 2}","{'a': 16, 'b': 4}","{'a': 10, 'b': 10}","{'a': 19, 'b': 1}",I,S,F,J
6,Cornelia,I'm a young South African engineer living in C...,"{'a': 8, 'b': 2}","{'a': 16, 'b': 4}","{'a': 14, 'b': 6}","{'a': 11, 'b': 9}",E,S,T,J
7,Bianca,I love exploring the great outdoors and travel...,"{'b': 9, 'a': 1}","{'b': 10, 'a': 10}","{'a': 13, 'b': 7}","{'a': 13, 'b': 7}",I,N,T,J
8,Jacky,I am sleep derived and don't want to study any...,"{'b': 10, 'a': 0}","{'a': 16, 'b': 4}","{'b': 11, 'a': 9}","{'b': 6, 'a': 14}",I,S,F,J
9,Josephine,Currently in second year of uni and doing a fu...,"{'a': 6, 'b': 4}","{'a': 9, 'b': 11}","{'b': 12, 'a': 8}","{'b': 11, 'a': 9}",E,N,F,P
10,John Tran,Lazy. I like to stare at the sunset. Problem s...,"{'b': 10, 'a': 0}","{'a': 12, 'b': 8}","{'b': 9, 'a': 11}","{'b': 10, 'a': 10}",I,S,T,P
11,Annie Zhou,I am a reserved person and don't like sharing ...,"{'a': 4, 'b': 6}","{'a': 15, 'b': 5}","{'b': 6, 'a': 14}","{'b': 6, 'a': 14}",I,S,T,J
12,Jane,I like dogs. I was unsuccessful at charming ca...,"{'b': 9, 'a': 1}","{'b': 13, 'a': 7}","{'b': 17, 'a': 3}","{'a': 11, 'b': 9}",I,N,F,J
13,Christine Knee Chong,I was born in South Africa and am of Chinese e...,"{'a': 3, 'b': 7}","{'b': 10, 'a': 10}","{'b': 18, 'a': 2}","{'a': 14, 'b': 6}",I,N,F,J
14,Tanmai Khairnar,A very passionate and an enthusiastic individu...,"{'a': 8, 'b': 2}","{'b': 12, 'a': 8}","{'b': 18, 'a': 2}","{'b': 8, 'a': 12}",E,N,F,J
15,Shubham Shingote,I am a pilot. I am Indian-Australian. I play a...,"{'b': 9, 'a': 1}","{'b': 6, 'a': 14}","{'b': 12, 'a': 8}","{'b': 9, 'a': 11}",I,S,F,J

In [43]:
final_dataset.to_csv('Survey_Results.csv', index = False)